streamlit
tiktoken
loguru
langchain
langchain-community               
langchain-core
langchain-google-genai
langchain-text-splitters
langchainhub
transformers
sentence-transformers
torch
FAISS
pypdf
